<div class="page-container">
	<div class="container">
		<!-- Jumbotron -->
		<md-card>
			<md-card-title>
				<span class="md-headline">Jira Printer</span>
			</md-card-title>
			<md-card-content>
				<p>Print your Jira issues for your agile Scrum Board</p>
				<hr/>
				<p>Simply add the issues id you want to print and click 'Download issues'
				then 'Print issues' to get the PDF file to print</p>
		</md-card-content>
		</md-card>

		<!-- Login info -->
		<div>
			<div class="top-row clearfix">
				<h2 class="pull-left">Login information</h2>
				<!-- Button to toggle the login information form -->
				<md-button class="md-raised pull-right md-primary md-hue-2" data-toggle="collapse" data-target="#jiraConfiguration" aria-expanded="false" aria-controls="jiraConfiguration">Toggle Jira configuration</md-button>
			</div>
			<md-content layout-padding class="collapse" ng-class="showJiraConfiguration" id="jiraConfiguration">
			<form novalidate>
				<md-input-container class="md-block">
					<label for="userName">Username</label>
					<input type="text" class="form-control"
							   ng-model="jiraConfig.username"
							   id="input-username"
							   placeholder="Username"/>
				</md-input-container>
				<md-input-container class="md-block">
					<label for="password">Password</label>
						<input type="password" class="form-control" ng-model="jiraConfig.password" placeholder="Password"/>
				</md-input-container>
				<md-input-container class="md-block">
					<label for="host">Host</label>
						<input type="text" class="form-control" ng-model="jiraConfig.host" placeholder="https://jira.mydomain.com"/>
				</md-input-container>
				<md-input-container class="md-block">
					<label for="port">Port</label>
						<input type="number" class="form-control" ng-model="jiraConfig.port" placeholder="443"/>
				</md-input-container>
			</form>
			</md-content>
		</div>
		<hr/>

		<!-- Input issues -->
		<div>
			<div class="top-row clearfix">
				<h2 class="pull-left">Input issues</h2>
				<div class="pull-right">
					<md-button type="submit" class="md-raised md-primary" ng-click="downloadIssues()">Download issues</md-button>
					<md-button type="submit" class="md-raised" ng-click="generatePDF()" ng-if="showPDF">Print issues</md-button>
					<md-button type="submit" class="md-raised md-accent md-hue-2" ng-click="removeAllIssues()" ng-show="issues.length > 0">Remove issues</md-button>
				</div>
			</div>
			<div>
				<form ng-submit="addIssue()">
					<md-list>
						<thead class="thead">
							<tr>
								<th class="col-md-2">Issue key</th>
								<th class="col-md-10">Action</th>
							</tr>
						</thead>
						<tbody class="tbody">
							<md-list-item name="issueIDForm" >
								<td class="col-md-2">
									<input name="issueIDInput"
										   class="form-control"
										   type="text"
										   ng-model="inputIssueID"
										   id="input-issue-id"
										   placeholder="PROJ-1"
										   required/>
									<br ng-if="jiraError"/>
									<div ng-if="jiraError" class="alert alert-danger">
										<div ng-repeat="(status, message) in jiraLog">
											<strong>{{status}} </strong>{{message}}
										</div>
									</div>
								</td>
								<td class="col-md-10">
									<!-- Add the current issue ID to the list of issues -->
									<md-button type="submit" class="md-raised md-primary md-hue-3">Add</md-button>
								</td>
							</md-list-item>
							<md-list-item ng-repeat="issue in issues.slice().reverse()">
								<!-- <td class="col-md-2"> -->
									<!--
									   - TODO Find why bootstrap glyphicon are not rendered properly
									   - and find a way to make them work
									   -->
									<span ng-show="issue.downloadSuccess !== undefined">
										<i ng-if="issue.downloadSuccess" class="fa fa-check"></i>
										<i ng-if="!issue.downloadSuccess" class="fa fa-times"></i>
									</span>
									<span ng-show="issue.downloading !== undefined && issue.downloadSuccess === undefined">
										<i class="rotating-img fa fa-refresh"></i>
									</span>

									<span>{{issue.id}}</span>
								<!-- </td> -->
								<!-- <td class="col-md-10"> -->
									<!-- <md-button type="button" class="md-raised md-accent md-hue-2" ng-click="removeIssue(issue.id)">
										<span class="glyphicon glyphicon-minus"></span>Remove
									</md-button> -->
									<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
									<!-- <md-icon md-svg-icon="alarm" ng-click="removeIssue(issue.id)" aria-label="Remove issue" class="md-secondary md-hue-3 glyphicon glyphicon-minus" ></md-icon> -->
								<!-- </td> -->
							</md-list-item>
						</tbody>
					</md-list>
				</form>
			</div>
		</div>
		<hr/>

		<!-- Printed issues -->
		<div ng-if="showPDF" id="pdf">
			<div class="issue-container" ng-repeat="issues in formattedIssues">
				<div class="issue" ng-repeat="issue in issues">
					<div class="issue-content">
						<div class="issue-header">
							<div class="issue-icon">
								<img ng-src="{{issue.icon}}">
							</div>
							<div class="issue-icon">
								<img ng-src="{{issue.priority.iconUrl}}">
							</div>
							<div class="issue-key">{{ issue.reference }}</div>
							<div class="row-end">
								<img class="gravatar-img" ng-src="{{issue.avatar}}">
							</div>
						</div>
						<div class="issue-summary">
							{{issue.summary}}
							<br>
							<div class="issue-time" ng-show="issue.estimatedTime">
								Temps estimé : {{ issue.estimatedTime }}
							</div>
						</div>
						<div class="issue-footer">
							<div class="label" ng-show="issue.version">
								{{ issue.version }}
							</div>
						</div>
					</div>
					<div class="issue-color" ng-class="issue.priority.name"></div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</div>
